.caja-mapa{padding:10px 50px;}#map{height:100%;height:500px;}
.contenido-cerveza{margin:0 60px;padding:60px 0;}
.contenido-cerveza .zona-banda{text-align:center;}
.caja-cervezas b{color:#E0701E;font-family:'Poppins', sans-serif;}
.caja-3 .slide{max-width:1442px;margin:0 auto;}
.no-margin{margin-bottom:0px;padding-bottom:0px !important;}
.columnas-cervezas p{padding-bottom:5px !important;}
.caja-3 .titular{text-transform:uppercase;color:#F99D2A;font-size:23px;font-family:'Poppins', sans-serif;font-weight:bold;padding-bottom:20px;}
.caja-3 .texto{font-family:'Roboto', sans-serif;color:#888888;font-size:18px;font-weight:100;}
.caja-3 .texto p{padding-bottom:20px;}