.cuenta{background:#ffffff;padding: 0px 30px 1px 30px;}

.container-fluid{padding:100px 0;}

.ok{display: block;
    text-align: center;
    padding: 20px;
    color: darkgreen;
    font-weight: 600;
    font-size: 23px;}

.error{display: block;
    text-align: center;
    padding: 20px;
    color: sienna;
    font-weight: 600;
    font-size: 23px;}
    
